<html>
  <style>
    body {
      background: #c6dee8;
      color: #838383;
      font-family: "Helvetica Neue";
      margin: 0;
      padding: 0;
    }
    table {
      font-size: 300px;
      font-weight: 200;
    }
  </style>
  <body>
    <table width="100%" height="100%">
      <tr><td valign="middle" align="center">
          <%= @count %>
      </td></tr>
    </table>
  </body>
</html>
