<!doctype html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Hits</title>
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
  </head>
  <body>
    <div id='content'>
      <div id='hits'>
        <%= @count %>
      </div>
    </div>
  </body>
</html>
